<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
    {{else}}
      {{ partial "logo.html" . }}
      <div class="copyright">
        <span>Written by Iván Moreno</span>
        <span>Blog sourced on <a href="https://github.com/ivanvmoreno/ivan.build" target="_blank">GitHub</a> and hosted by <a href="https://zeit.co/" target="_blank">zeit.co</a></span>
      </div>
    {{end}}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>
{{- partial "extended_footer.html" . }}
